/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

label {
    width: 100%;
}

/** VALIDATION ERROR **/
.input-field div.error {
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color: #ff3111;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.input-field label.active{
    width:100%;
}

.input-field label {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
}

select:focus {
    outline: 1px solid transparent;
}

select {
    background-color: transparent;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 2px;
    height: 3rem;
    border-bottom: 1px solid #9e9e9e;
}


/*
    Modal
*/
.modal { width: 80% !important ; max-height: 100% !important ; overflow-y: hidden !important ;}  /* increase the width, height and prevent vertical scroll! However, i don't recommend this, its better to turn on vertical scrolling. */


/*
    Common
*/

#datepicker-container {
  position: fixed;
  z-index: 10000;
}

.wizard, .tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a, .tabcontrol a
{
    outline: 0;
}

.wizard ul, .tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li, .tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info, .tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title, .tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}

/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li, .wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active
{
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active
{
    background: #26a69a;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active
{
    background: #b2dfdb;
    color: #fff;
}

.wizard > .steps .error a, .wizard > .steps .error a:hover, .wizard > .steps .error a:active
{
    background: #ff3111;
    color: #fff;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active
{
    background: #26a69a;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}

/**   GALLERY   **/

.gallery-sizer {
    width: 20%
}

.gallery-item img {
    width: 20%
}

@media screen and (max-width: 2200px) {
    .gallery-sizer {
        width: 20%
    }
    .gallery-item img {
        width: 20%
    }
}

@media screen and (max-width: 1800px) {
    .gallery-sizer {
        width: 30%
    }
    .gallery-item img {
        width: 30%
    }
}

@media screen and (max-width: 1600px) {
    .gallery-sizer {
        width: 50%
    }
    .gallery-item img {
        width: 50%
    }
}

@media screen and (max-width: 720px) {
    .gallery-sizer {
        width: 50%
    }
    .gallery-item img {
        width: 50%
    }
}

@media screen and (max-width: 480px) {
    .gallery-sizer {
        width: 100%
    }
    .gallery-item img {
        width: 100%
    }
}
